<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Bharateswari Homes</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="/BHomes.tanvir626.io/assets/Section/Nav_Section/logo_new.png" rel="icon">
  <link href="/BHomes.tanvir626.io/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/BHomes.tanvir626.io/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/BHomes.tanvir626.io/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/BHomes.tanvir626.io/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/BHomes.tanvir626.io/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/BHomes.tanvir626.io/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/BHomes.tanvir626.io/assets/css/main.css" rel="stylesheet">
<link href="/BHomes.tanvir626.io/assets/css/Animation1.css" rel="stylesheet">
 
</head>

<body class="index-page">

<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        
        <!-- Logo First -->
        
<!-- Title Next to Logo -->
<div class="site-title d-flex align-items-center fs-4">
  <!-- Logo -->
  <a href="/BHomes.tanvir626.io/index.html" class="me-2">
      <img src="/BHomes.tanvir626.io/assets/Section/Nav_Section/logo_new.png" style="height: 50px; width: 50px;">
  </a>
  <!-- Title -->
  <span>Bharateswari Homes</span>
</div>

         <!-- Navigation Menu -->
         <nav id="navmenu" class="navmenu ms-auto">
          <ul>
              <li><a href="/BHomes.tanvir626.io/index.html" >Home</a></li>
              <li class="dropdown">
                <a href="#about"><span>About</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=About_BH.html&title=About BH">About BH</a></li>
                    <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=Our_Founder.html&title=Our Founder">Our Founder</a></li>
                    <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=our_aim.html&title=Our Aim">Our Aim</a></li>                      
                    <li><a href="#">Mission & Vission</a></li>                      
                </ul>
            </li>


<!-- Addmision Tab -->
<li class="dropdown">
                <a href="#about"><span>Admissions</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                  <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=About_BH.html&title=About BH">Application Process</a></li>
                    <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=Our_Founder.html&title=Our Founder">Tution & Fees</a></li>
                    <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=our_aim.html&title=Our Aim">Gurdian Visits</a></li>                      
                    <li><a href="#">Mission & Vission</a></li>                      
                </ul>
            </li>              

<!-- Academic Tab -->
<li class="dropdown">
                <a href="#about"><span>Academics</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                   <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=Academic_FacultyMember.html&title=Facuty Members">Facuty Members</a></li>
                    <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=Our_Founder.html&title=Our Founder">Departments</a></li>            
                    <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=our_aim.html&title=Our Aim">Library and Archive</a></li>       
                  <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=About_BH.html&title=About BH">Academic Calender</a></li>
                 
                </ul>
            </li>  

<!-- Extra Curriculam Activities -->
<li class="dropdown">
                <a href="#about"><span>Extra Curriculam Activities</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                <ul>
                   <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=About_BH.html&title=About BH">Sports</a></li>
                    <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=Our_Founder.html&title=Our Founder">Music</a></li>            
                    <li><a href="/BHomes.tanvir626.io/components/masterpage.html?page=our_aim.html&title=Our Aim">Student's Club Activities</a></li>     
                 
                </ul>
            </li> 

          
   <li><a href="#hero">Notice</a></li>
            <li><a href="#contact" >Contact Us</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
</header>



  <main class="main" style="padding: 0px;">

    <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade" style="background-image: url(/BHomes.tanvir626.io/assets/img/Pages/About_BH/About_BH.jpg);">
        <div class="container position-relative">
          <h1 id="title">About_BH</h1>
        
        </div>
      </div><!-- End Page Title -->

    <!-- About Section -->

      <div class="container" id="content-Section">


      </div>


  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Bharateswari Homes</h3>
            <p>
              Mirzapur, Tangail <br>
              +880-1711425822<br>
              bharateswarihomes1945@gmail.com<br>
            </p>
            
    <div class="container copyright text-center mt-4" style="display: none;">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">Dewi</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href=“https://themewagon.com>ThemeWagon
      </div>
    </div>

  </footer>




  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="/BHomes.tanvir626.io/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/BHomes.tanvir626.io/assets/vendor/php-email-form/validate.js"></script>
  <script src="/BHomes.tanvir626.io/assets/vendor/aos/aos.js"></script>
  <script src="/BHomes.tanvir626.io/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/BHomes.tanvir626.io/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/BHomes.tanvir626.io/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/BHomes.tanvir626.io/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="/BHomes.tanvir626.io/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

  <!-- Main JS File -->
  <script src="/BHomes.tanvir626.io/assets/js/main.js"></script>



  <script>
 
  // Function to get URL query parameters
  function getQueryParam(name) {
      const urlParams = new URLSearchParams(window.location.search);
      return urlParams.get(name);
  }

  document.addEventListener("DOMContentLoaded", function () {
      const page = getQueryParam('page'); // Get 'page' parameter from URL
      const title = getQueryParam('title'); // Get the title parameter
      if (page) {
          loadContent(`/BHomes.tanvir626.io/Pages/${page}`, title);
      }
  });



    // Function to load content dynamically
function loadContent(page , title) {
    document.getElementById("title").innerHTML = title;
    fetch(page)
        .then(response => response.text())
        .then(html => {
            document.getElementById("content-Section").innerHTML = html;
            
        })
        .catch(error => console.error("Error loading content:", error));
}

</script>


</body>

</html>
